*{
  margin: 0;
  padding: 0;
}

:root{
  --white: #fff;
  --darkgray: #333;
  --gray: #4d4d4d; 
  --lightgray: #999;
  --green: #C2E15F;
  --orange: #FDA333;
  --purple: #D3A4F9;
  --red: #FF4485;
  --blue: #6CE0F1;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: var(--darkgray);
}

ul, ol{
  margin-left: 40px;
}

#page-header{
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  color: var(--white);
  font-family: "Cormorant SC", sans-serif;
  background: var(--darkgray) url('assets/bgxl.jpg') no-repeat center/cover fixed;
}

/*
@media screen and (min-width: 600px){#page-header{background-image: url('assets/bgm.jpg');}
@media screen and (min-width:1000px){#page-header{background-image: url('assets/bgl.jpg');}
@media screen and (min-width:1800px){#page-header{background-image: url('assets/bgxl.jpg');}
*/

#page-header-contacts{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

#page-header-contacts a{
  color: var(--white);
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
}

#name{
  font-size: 5rem;
  justify-self: center;
  font-weight: 600;
}

#name>span{
  font-weight: 300;
}

#position{
  font-size: 1.5rem;
  font-weight: 100;
  font-family: "Cormorant Infant", sans-serif;
  font-style: italic;
  justify-self: center;
}

#header-scroll{
  position: absolute;
  bottom: 50px;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  animation: bob 1.8s infinite ease-in-out alternate;
  box-shadow: 1.5px 3px 3px 0px #1e1e1e;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

#nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#nav>a:hover{
  font-weight:100;
}

/*Phones*/
@media screen and (min-width: 0px) and (max-width:750px){
  article{
    width: calc(95% - 50px);
    padding: 5px calc(2.5% + 25px) 25px calc(2.5% + 25px);
  }
}
/*Laptop*/
@media screen and (min-width:1200px) and (max-width:1600px){
  article{
    width: calc(80% - 50px);
    padding: 5px calc(2.5% + 25px) 25px calc(2.5% + 25px);
  }
}
article{
  background-color: #ffffff;
  width: calc(95% - 50px);
  /*margin-left: 2.5%;*/
  /*border-bottom: 1px solid #333333;*/
  padding: 5px calc(2.5% + 25px) 25px calc(2.5% + 25px);
}

article:nth-child(odd){
  background-color: #4d4d4d;
  color: #ffffff;
}

article>header{
  font-size: 30px;
  font-weight: bold;
}

article:nth-child(5n+1)>header>span{color: #6CE0F1;}
article:nth-child(5n+2)>header>span{color: #FB4485;}
article:nth-child(5n+3)>header>span{color: #FDA333;}
article:nth-child(5n+4)>header>span{color: #C2E15F;}
article:nth-child(5n+5)>header>span{color: #D3A4F9;}


.button{
  background-color: #ffffff;
  color: #4d4d4d;
  text-decoration: none;
}

.button:hover{
  background-color: #4d4d4d !important;
  color: #ffffff !important;
}
article:nth-child(odd) .button:hover{
  background-color: #ffffff !important;
  color: #4d4d4d !important;
}
article:nth-child(even) .button:hover{
  background-color: #4d4d4d !important;
  color: #ffffff !important;
}

.button:nth-child(5n+1){background-color: #6CE0F1;}
.button:nth-child(5n+2){background-color: #FB4485;}
.button:nth-child(5n+3){background-color: #FDA333;}
.button:nth-child(5n+4){background-color: #C2E15F;}
.button:nth-child(5n+5){background-color: #D3A4F9;}

.circle{
  border-radius: 50%;
}

@keyframes bob{
  0%{
    transform: translateY(0px);
  }

  100%{
    transform: translateY(10px);
  }
}

/*################# About section #################*/
#about-icons{
  display: grid;
  grid-row-gap: 15px;
  grid-column-gap: 25px;
  margin: 25px 25px;
}

/*Phones*/
@media screen and (min-width: 0px) and (max-width:600px){
  #about-icons{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, calc(48px + 15px) auto);
  }
  #about-icons i{align-self: end;}
}
/*Laptop*/
@media screen and (min-width:600px){
  #about-icons{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 48px auto;
  } 
  #about-icons i{grid-row: 1;}
}

#about-icons i{
  justify-self: center;
  font-size: 48px;
}

#about-icons p{
  justify-self: stretch;
  text-align: center;
}

#socials>main{
  display: flex;
  justify-content: space-evenly;
}

#socials a{
  font-size: 48px;
  text-decoration: none;
  color: inherit;
}
