*{
  font-family: 'Roboto', sans-serif;
}

html, body{
  margin: 0;
  padding: 0;
  background-color: #EFE6E6;
}

header{
  display: grid;
  justify-content: center;
  background-color: #4D4D4D;
  color: #ffffff;
}

#name{
  font-size: 64px;
  justify-self: center;
}

#name>span{
  font-weight: 100;
}

#position{
  font-size:22px;
  font-weight: 100;
  justify-self: center;
}

#nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#nav>a:hover{
  font-weight:100;
}

section{
  background-color: #ffffff;
  width: 95%;
  margin-left: 2.5%;
  border-bottom: 1px solid #333333;
  padding: 5px 25px;
}
